.checkoutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
    margin-top: 110px;
  }
  
  .checkoutStep {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .stepTitle {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
    text-align: left;
  }
  
  .paymentButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .stripePaymentButton {
    background-image: linear-gradient(rgb(125, 197, 238), rgb(0, 140, 221) 85%, rgb(48, 162, 228));
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    position: relative;
    padding: 0px 12px;
    display: block;
    height: 30px;
    line-height: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px;
    border-radius: 4px;
    width: 80%; /* Adjust as per design */
    margin-top: 10px;
    border: none;
  }
  
  .stripePaymentButton:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  /* Add other styles as previously mentioned */
  