.order-card {
  width: 600px; /* Set an initial small width */
  padding: 10px;
  /*border: 2px solid #ddd; /* Make the border thicker */
  border-radius: 10px; 
  transition: transform 0.7s, box-shadow 0.7s;
  margin-bottom: 4rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.267);
}

.order-card:hover {
  transform: scale(1.08); /* Magnify the card on hover */
}

.order-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 1rem;
}

.medicine-details {
  margin-left: 10px;
}


.cancel-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 19px;
  margin-top: 2rem;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-family: Arial, sans-serif;
  margin-bottom: 0.4rem;
}


.cancel-button:hover {
  background-color: #0056b3;
}