.orders-page {
  padding: 20px;
  min-height: 100vh;
  justify-content: center; /* Center the content horizontally */
  align-items: start; /* Center the content vertically */
  display: flex;
  margin-top: 8rem;
}
.orders-container {
  justify-content: center;
  align-items: center;
}
.orders-page h1 {
  margin-bottom: 3rem;
}
