.user-list {
    background-color: #336cfb;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
    overflow-y: auto; /* Enable scroll if content overflows */
    height: 85vh;
    width:25vw;
    overflow-y: hidden;
  }
  
  .user-list h2 {
    color: #333;
    padding: 16px;
    margin-top: 0;
    background-color: #336cfb;
    padding: 10px 15px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color:#eaeaea;
  }


  .selectedUser {
    padding: 10px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #1643b4;
    height: 40px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .user {
    padding: 10px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 40px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .user:hover {
    background-color: #dedede;
    color: black;
  }
    
  .user.active {
    background-color: #dedede;
  }

  .containerSwitch{
    margin-top: 300px;
    margin-left: 50px;
  }
  
  .containerSwitch span {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .containerPaginationPatients{
    margin-top: 300px;
    margin-left: auto;
  }

  .containerPagination{
    margin-top: 350px;
    margin-left: auto;
  }

  .separatorContainer{
    height: 2px; /* Thickness of the separator */
    background-color: #ddd; /* Color of the separator */
    color: #336cfb;
    margin-top:-270px ;
    margin-bottom: 15px;
    margin-left: -50px;
  }
  /* .user-list h2 {
    font-size: 24px;
    color: #333;
    padding: 10px 15px;
    margin: 0;
    margin-top: 20px;
    background-color: #336cfb;
    border-bottom: 1px solid #ddd;
  } */
